* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #6b1584;
  color: #f2ff00;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

#logo {
  height: 100px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding-left: 24px;
  padding-right: 24px; 
  font-size: 24px;
  font-weight: 800;
}
li a {
  color: #f2ff00;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 48px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap;
  color: #f2ff00;
  font-size: 28px;
}

.choice {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: center;
  border: solid 7px #f2ff00;
  border-radius: 33px;
  padding: 33px;
  width: 222px;
  height: 222px;
  margin: 0 44px;
  text-align: center;
}

.hovered {
  border: solid 7px #bc19eb;
}

.purp-text {
  color: #bc19eb;
}

.choice img {
  height: 144px;
}

